[Unit]
Description=NVMe Prom Exporter
After=network-online.target

[Service]
Type=simple

User=root
Group=root

ExecStart=/usr/bin/nvme_exporter

SyslogIdentifier=nvme_exporter

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
